/*Incorporar un link con la URL del sitio en el cual esté basado la paleta*/
/*https://coolors.co/fce03f-0b5d85-ed2025-93abad-fbcebe*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@font-face {
  font-family: "Minions font";
  src: url("./fonts/Bauhaus.TTF");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.1;
  box-sizing: border-box;
}

/*Definir una paleta de 4 colores*/
/* CSS HEX */
body {
  --school-bus-yellow: #fce03fff;
  --lapis-lazuli: #0b5d85ff;
  --red-cmyk: #ed2025ff;
  --cadet-gray: #93abadff;

  /* CSS HSL */
  /*--school-bus-yellow: hsla(51, 97%, 62%, 1);
  --lapis-lazuli: hsla(200, 85%, 28%, 1);
  --red-cmyk: hsla(359, 85%, 53%, 1);
  --cadet-gray: hsla(185, 14%, 63%, 1);*/

  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding: 0;
  background: var(--red-cmyk);
  background: linear-gradient(
    0deg,
    var(--lapis-lazuli) 0%,
    var(--cadet-gray) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.55);
  max-width: 1200px;
  margin: 75px 20px;
  position: relative;
  display: flex;
  flex-grow: 1;
}

h1 {
  font-family: "Minions font";
  font-weight: normal;
  font-size: 42px;
  padding: 6px 0;
  margin-bottom: 34px;
  overflow: hidden;
  color: var(--school-bus-yellow);
  line-height: 1;
  -webkit-text-stroke: 1px var(--red-cmyk);
}

.left-container {
  background: var(--lapis-lazuli);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  position: relative;
  width: 50%;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  max-width: 300px;
  font-size: 1.3rem;
}

.row {
  margin-bottom: 4px;
}

select {
  font-size: 1em;
  line-height: 3;
  max-width: 100%;
}

button {
  width: 100%;
  border: 0;
  line-height: 2.5;
  padding: 6px;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 6px;
  background-color: var(--red-cmyk);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  transition: background 0.3s;
}

button:hover,
button:focus,
.popupButton:hover,
.popupButton:focus {
  background: var(--red-cmyk);
  border-color: var(--red-cmyk);
}

button svg {
  position: relative;
  top: 0.125em;
  height: 1em;
  width: 1em;
  color: #fff;
  transition: fill 0.3s;
  z-index: 0;
}

.right-container {
  padding: 20px;
  position: relative;
  width: 50%;
}

.circles-section {
  position: relative;
  max-width: 500px;
  height: 0;
  padding-bottom: 500px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 0;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: var(--cadet-gray);
  border: 0px solid #000000;
  border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: var(--cadet-gray);
}

.control input:checked ~ .control_indicator {
  background: var(--cadet-gray);
}

.control input:checked:focus ~ .control_indicator {
  background: var(--cadet-gray);
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox .control_indicator::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: var(--lapis-lazuli);
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

img {
  position: fixed;
  bottom: 0;
  display: none;
  width: 150px;
}

.circles-section div {
  height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: transparent;
  pointer-events: all;
  /*Utilizar transiciones de CSS para el cambio de colores*/
  transition: background-color 0.7s ease-in-out;
}

/* Si la resolución es menor a 500px, cambiar el color de todos los círculos a gris */
@media only screen and (max-width: 500px) {
  .circles-section div {
    background-color: #707070 !important; /*Pongo important para que sobrescriba los colores que puso el usuario al clickear los círculos*/
    /*Ignorar cualquier tipo de actividad en los mismos*/
    pointer-events: none;
  }
}

label {
  margin-right: 4px;
}

input[type="number"] {
  width: 64px;
  line-height: 1.5;
}

/*Estilos del popup*/
.popupButton {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  padding: 8px 16px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 6px;
  background-color: var(--red-cmyk);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  transition: background 0.3s;
}

.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.details-modal-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
}

.details-modal-close svg {
  display: block;
}

.details-modal-title {
  color: #111827;
  padding: 1.5em 1em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
}

.details-modal-title h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.details-modal-content {
  border-top: 1px solid #e0e0e0;
  padding: 1em;
  pointer-events: all;
  overflow: auto;
}

details summary {
  list-style: none;
}    

details summary:focus {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(#0f172a, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

details[open] .details-modal-overlay {
  pointer-events: all;
  opacity: 0.5;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
}

.input+.input {
		margin-top: 1.5rem;
}

.input-label {
  font-size: 1rem;
	color: var(--cadet-gray);
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid var(--cadet-gray); 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
}

.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: var(--lapis-lazuli);
}

.input-field:focus+.input-label, .input-field:valid+.input-label {
    color: var(--lapis-lazuli);
    transform: translateY(-1.5rem);
}

.acciones {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 0.75rem;
	padding: 1em;
	max-width: 100px;
	font-weight: 400;
	background-color:  var(--red-cmyk);
	border-radius: 4px;
	color: #FFF;
	border: 0;
  pointer-events: all;
}

.action-button:focus {
  outline: 0;
}